<div class="container mb-5">
  <h1 class="mt-5">Badges</h1>
  <div>
    This is a <iq-badge>Normal Badge</iq-badge>
  </div>
  <div>
    This is a <iq-badge type="danger">Hot Badge</iq-badge>
  </div>

  <h1 class="mt-5">Buttons</h1>
  <div>
    <iq-button>Hello World</iq-button>
  </div>
  <div>
    <iq-button [cta]="true" additional="text-uppercase">Hello World</iq-button>
  </div>
  <div>
    <iq-button>Hello World</iq-button>
  </div>
  <div>
    <iq-button>Hello World</iq-button>
  </div>

  <h1 class="mt-5">Cards</h1>
  <div>
    <iq-card [headingLevel]="2" heading="Foo">Welcome to the <strong>best card</strong></iq-card>
  </div>
  <div>
    <iq-card [headingLevel]="3" heading="Foo" headerLink="#bar">Welcome to the <strong>best card</strong></iq-card>
  </div>
  <div>
    <iq-card [headingLevel]="2">
      <iq-card-header><span lang="de">Großartige</span> Card</iq-card-header>
      Welcome to the <strong>best card</strong>
    </iq-card>
  </div>
  <div>
    <iq-card [headingLevel]="2">
      <iq-card-header><span lang="de">Großartige</span> Card <iq-badge type="danger">Hot Badge</iq-badge></iq-card-header>
      Welcome to the <strong>best card</strong>
    </iq-card>
  </div>
  <div>
    <iq-card [headingLevel]="2" headerLink="#bar">
      <iq-card-header><span lang="de">Großartige</span> Card <iq-badge type="danger">Hot Badge</iq-badge>
      </iq-card-header>
      Welcome to the <strong>best card</strong>
      <iq-card-footer>So <strong>strong</strong></iq-card-footer>
    </iq-card>
  </div>

  <h1 class="mt-5">Field Group</h1>
  <div>
    <iq-field-group label="Name" inputId="name" name="name"></iq-field-group>
  </div>
  <div>
    <iq-field-group label="E-Mail" inputId="email" name="email" type="email" value="bob@example.org"></iq-field-group>
  </div>
  <div>
    <iq-field-group label="E-Mail" inputId="email" name="email" type="email" value="halp" error="Invalid E-Mail address"></iq-field-group>
  </div>
  <div>
    <iq-field-group label="E-Mail" inputId="email" name="email" type="email" [form]="email"></iq-field-group>
  </div>

  <h1 class="mt-5">List</h1>
  <div>
    <iq-list [list]="items"></iq-list>
  </div>
  <div>
    <iq-list ratio="1:2" [list]="items"></iq-list>
  </div>
  <div>
    <iq-list ratio="1:1" [list]="items"></iq-list>
  </div>

  <h1 class="mt-5">Magic headers</h1>
  <div>
    <iq-magic-headers id="1">
      <iq-magic-heading>Some h1</iq-magic-heading>
      <header>
        <p class="tagline"> Content </p>
      </header>
      <iq-magic-headers id="2">
        <iq-magic-heading>Some h2</iq-magic-heading>
        <section>
          <p>Some more content</p>
        </section>
        <iq-magic-headers id="3">
          <iq-magic-heading>Some h3</iq-magic-heading>
          <div class="foo bar">
            <p>Some more content</p>
          </div>
        </iq-magic-headers>
      </iq-magic-headers>
      <iq-magic-headers  id="4">
        <iq-magic-heading>Again some h2</iq-magic-heading>
        <section>
          <p>Some more content</p>
        </section>
      </iq-magic-headers>
    </iq-magic-headers>
  </div>
</div>
